@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Kingshare';
  src: url('/fonts/Kingshare.ttf') format('truetype'),
       url('/fonts/Kingshare.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.title{
  font-family: 'Kingshare', sans-serif;
}